<html>
    <head>
        <title>chatbot</title>
    <style>
#loading
{margin:70px auto; text-align: center;
}
    </style>

<script>
   $(function(){
    $("#loading").css("visibility","hidden");
      });
</script>
    </head>
<body>


   <div id="loading">
        <img SRC="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" width="400" height="400">
    </div>

 <script type="text/javascript"
    id="botcopy-embedder-d7lcfheammjct"
    class="botcopy-embedder-d7lcfheammjct"
    data-botId="5da9bc96292aea7d3916cfa2"
>
    var s = document.createElement('script');
    s.type = 'text/javascript'; s.async = true;
    s.src = 'https://d7lcfheammjct.cloudfront.net/js/injection.js';
    document.body.appendChild(s);
</script>
</body>
</html>